body{
    background-color: #F0ECE5;
}
#mainbox{
    color:#eedec1;
    background-color: #31304D;
    border: 5px solid #B6BBC4;
    width: 35pc;
    height: 20pc;
    margin: 10.5pc 0pc 0pc 29pc;
    border-radius: 2pc;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#title{
    text-align: center;
    color:#efc26c;
}
#bDate{
    margin: 2.5pc 0pc 0pc 7pc;
}
#cDate{
    margin: 2.5pc 0pc 0pc 5.6pc;
}
#birthdate{
   font-size: 20px;
}
#currentdate{
    font-size: 20px;
}
#btn{
    margin: 3pc 0pc 0pc 6pc;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}
#btn:hover{
    background-color:#efcd8e;
}
#age{
    font-size: 24px;
    margin: -1.7pc 0pc 0pc 14.5pc;
}
#wish{
    color:#efc26c;
    font-size: 23px;
    margin: 0pc 0pc 0pc 22pc;
}
@media screen and (max-width:747px){
    #mainbox{
        margin: 7pc 0pc 0pc -0.50pc;
        width: 22pc;
        height: 21pc;
        position:fixed;
    }
    #bDate{
        margin: 0pc 0pc 0pc 2.8pc;
    }
    #cDate{
        margin: 2pc 0pc 0pc 1.3pc;
    }
    #btn{
        margin: 2pc 0pc 0pc 1.8pc;
    }
    #age{
        margin: -1.7pc 0pc 0pc 10.5pc;
    }
    #wish{
        margin: 1.5pc 0pc 3pc 5pc;
    }
}